<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css" />
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script type="text/javascript"> hljs.initHighlightingOnLoad(); </script>
  </head>

  <script type="text/javascript">
     $(document).ready(function(){
          $("h2,h3,h4,h5,h6").each(function(i,item){
            var tag = $(item).get(0).localName;
            $(item).attr("id","wow"+i);
            $("#category").append('<a class="new'+tag+'" href="#wow'+i+'">'+$(this).text()+'</a></br>');
            $(".newh2").css("margin-left",0);
            $(".newh3").css("margin-left",20);
            $(".newh4").css("margin-left",40);
            $(".newh5").css("margin-left",60);
            $(".newh6").css("margin-left",80);
          });
     });
    </script>
   
  
    <script type="text/javascript">
    function setTimeSpan(){
            var date = new Date();
            timeSpan.innerText=date.format('yyyy-MM-dd hh:mm:ss');
    }
    
    Date.prototype.format = function(format)
                {
    var o =
            {
                "M+" : this.getMonth()+1, //month
                "d+" : this.getDate(),    //day
                "h+" : this.getHours(),   //hour
                "m+" : this.getMinutes(), //minute
                "s+" : this.getSeconds(), //second
                "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
                "S" : this.getMilliseconds() //millisecond
            }
            if(/(y+)/.test(format))
            format=format.replace(RegExp.$1,(this.getFullYear()+"").substr(4 - RegExp.$1.length));
            for(var k in o)
            if(new RegExp("("+ k +")").test(format))
            format = format.replace(RegExp.$1,RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length));
            return format;
                }
  </script>

  <body onLoad="setInterval(setTimeSpan,1000);">
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="网站首页" class="" href="/">HOME</a></span>
        <span><a title="文章分类" class="" href="/categories/">CATEGORIES</a></span>
        <span><a title="标签索引" class="" href="/tags/">TAGS</a></span>
        <!--<span><a title="友情链接" class="" href="/links/">LINKS</a></span>-->
        <span><a title="留言交流" class="" href="/guestbook/">GUESTBOOK</a></span>
        <span><a title="关于站长" class="" href="/about/">ABOUT</a></span>
        <span><a title="种子订阅" class="" href="/feed/" target="_blank">RSS</a></span>
        </nav>
        <article class="content">
        <div id="category"></div>
        {{ content }}
        </article>

      </div>

    <footer>
        <p><small>
          <!--  <a href="http://github.com/{{ site.github }}/_posts" target="_blank" title="撰写文章">Po</a>wer<a href="http://github.com/{{ site.github }}/NET/edit/gh-pages/{{ page.path }}" target="_blank" title="编辑页面">ed</a> by <a href="http://jekyllrb.com" target="_blank">Jekyll</a> @ <a href="http://github.com/{{ site.github }}" target="_blank" title="项目主页">GitHub</a> -->
		  Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a> @ <a href="http://github.com/{{ site.github }}" target="_blank" title="项目主页">GitHub</a> | <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/" target="_blank" title="许可协议">©</a> 2012 - {{site.time | date:"%Y"}} <a href="/about/">{{ site.author }}</a> | <span class="label label-info" id="timeSpan"></span>
{% if site.beian %}
             | <a href="http://www.miibeian.gov.cn" target="_blank">{{ site.beian }}</a>
{% endif %}
{% if site.cnzz %}
             | <script src="http://s85.cnzz.com/stat.php?id={{ site.cnzz }}"></script>
{% endif %}
         </small></p>
    </footer>

    </div>
  </body>
</html>
